#title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 30px;
}

.msg {
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
}

.nosotros {
    display: block;
}